<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=0, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no" />
	<meta name="keywords" content="善园网，扶贫济困，公益援助，求助，募捐，医疗救助，教育救助，贫困救助，灾害救助，公益众筹，特殊群体" />
	<meta name="description" content="善园网，依托善园公益基金会开展网络募捐服务，通过互联网实施扶贫济困、慈善救助、公益援助等领域的救助行动；善园网承诺善款100%公开，100%用于受助人" />
	<title>报名明细</title>
	<link rel="shortcut icon" href="/res/images/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/res/css/h5/volunteer/dialog.css"/>
	<link rel="stylesheet" type="text/css" href="/res/css/h5/volunteer/charity.css?v=20171208"/>
</head>
<body>
	<div id="pageContainer" v-cloak>
		<div class="qr-hd">
			<h2>报名明细</h2>
			<a href="javascript:;" onclick="history.go(-1)" class="back"></a>
		</div>
		<div class="line"></div>
		<div class="ed-bd" v-if="hasRec">
			<div class="tab">
				<div class="subtab" id="qdTab">
					<a href="javascript:;" class="on" data-state="2">全部（{{totalSignCount}}）</a>
					<a href="javascript:;" data-state="1">已签到（{{signedCount}}）</a>	
					<a href="javascript:;" data-state="0">未签到（{{noSignCount}}）</a>	
				</div>
			</div>
			<div class="entry-list" id="entryList">
				<div class="item" v-for="entry in entryList">
					<div class="info">
				  		<p class="user-name">{{entry.name}}</p>
						<p class="user-info">{{entry.sex}}<template v-if="entry.age">，{{entry.age}}岁</template>，{{entry.address}}，{{entry.position}}</p>
						<p class="qd-info">签到{{entry.countSign}}次，累计服务时长{{entry.totalTimeNum}}小时</p>
					</div>
					<a href="javascript:;" class="arrow" :data-id="entry.formId"></a>
				</div>
			</div>
			<a class="lookmore" id="loadMore" href="javascript:;" v-if="hasMore==2">点击加载更多</a>
			<a class="nomore" href="javascript:;" v-else-if="hasMore==1">没有更多数据了</a>
			<a class="nomore" href="javascript:;" v-else-if="hasMore==0">暂无签到信息</a>
			<div class="tipss" v-if="hasMore==1 || hasMore==2">提示：点击小箭头了解详情</div>
		</div>
		
		<div class="no-page" v-else>暂无活动报名信息</div>
		<div class="dialog" id="otherInfoDialog">
			<div class="mask"></div>
			<div class="dialog_inner">
				<h2>其他信息</h2>
				<ul>
					<li v-for="(od,index) in otherData">{{index+1}} . {{od}}</li>
				</ul>
				<a href="javascript:void(0);" class="closeLink closeDialog">
					<span class="close"><img src="/res/images/h5/images/icon_close.png"/></span>
				</a>
			</div>
		</div>
	</div>
	<div id="loadmask">
		<div id="mask">
			<div id="loading"><img src="/res/images/h5/images/volunteer/loading9.gif"/><p>加载中...</p></div>
		</div>
	</div>
	<script src="/res/js/jquery-1.8.2.min.js"></script>
	<script src="/res/js/h5/donateStep/vue.min.js"></script>
	<script src="/res/js/h5/volunteer/entryDetail.js"></script>
</body>
</html>
