html,body{margin: 0;padding: 0;border: 0;font-family: "微软雅黑";-webkit-text-size-adjust: 100%!important;}
html,body,ul,li,ol,p,div,h1,h2,h3,h4,h5,h6,nav,header,footer,table,tr,td,th,form,label{
	-webkit-margin-after: 0;
	-webkit-margin-before: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
	-webkit-padding-end: 0;
	-webkit-padding-before: 0;
	-webkit-padding-after: 0;
	margin: 0;
	padding: 0;
	font-weight: 400;
}
@font-face {
	font-family:dinc;
	src: url(../../../fonts/DINCond-Bold.otf);
}
html{font-size: 100px;height: 100%;}
body{background: #F8F8F8;color: #333;max-width: 500px;font-size: .13rem;line-height: 1.5;min-height: 100%;margin: 0 auto;height: 100%;}
@media screen and (max-width:320px) {
	html {font-size: 90px;}
}
@media screen and (min-width:321px) and (max-width:360px) {
	html {font-size: 90px;}
}
ul,li{list-style: none;padding: 0;}
a{text-decoration: none;color: #333;}
img{border: 0;vertical-align: top;}
input,label,textarea{font-family: "微软雅黑";vertical-align: middle;}
label{cursor: default;}
input,textarea{font-size: .14rem;}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{-webkit-appearance: none !important;}
input[type="number"]{-moz-appearance:textfield;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color: #999;}
h2{font-size: .18rem;}
h3{font-size: .15rem;}
.fl{float: left;}
.fr{float: right;}
.clear{clear: both;}
.clearFix:after{display: inline-block;content: '';clear: both;}
.txtC{text-align: center;}
.c999{color: #999;}
.cff6{color: #ff6810;}
[v-cloak]{display: none;}
#nopage{display: none;}
#nopage p{
	font-size: .18rem;color: #666;text-align: center;margin-top: .3rem;
}
#tips{
	width: 80%;line-height: 1.5;padding: .08rem;box-sizing: border-box;color: #fff;background: rgba(0,0,0,.7);
	text-align: center;font-size: .15rem;position: fixed;left: 10%;top: 60%;border-radius: 6px;display: none;
}
#pageContainer{
	position: relative;min-height: 100%;box-sizing: border-box;
}
.head{
	position: relative;text-align: center;height: .45rem;line-height: .45rem;font-size: .16rem;color: #fff;
	background: #ff6811;
}
.back:before{
	content: '';display: inline-block;width: 9px;height: 9px;border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;-webkit-transform: rotate(45deg);transform: rotate(45deg);position: absolute;
	left: .15rem;top: .17rem;
}
.dm-hd{
	background: #fff;padding: .15rem;
}
.dm-hd .project{
	width: 100%;border-bottom: 1px solid #DADADA;display: -webkit-flex;display: flex;padding-bottom: .15rem;
}
.dm-hd .project .pic{
	width: 30%;margin-right: 2%;height:.75rem;border-radius: 4px;overflow: hidden;
}
.dm-hd .project .pic img{
	width: 100%;height: 100%;
}
.dm-hd .project .info{
	width: 68%;display: -webkit-flex;display: flex;-webkit-flex-direction: column;flex-direction: column;
	-webkit-justify-content: space-between;justify-content: space-between;
}
.dm-hd .project .info .title{
	font-size: .16rem;
}
.dm-hd .project .info .support{
	color: #666;font-size: .12rem;
}
.dm-hd .project .num{
	color: #ff6810;
}
.dm-hd .project .line{
	padding: 0 .1rem;color: #DADADA;
}
.dm-hd .other{
	padding: .12rem 0;border-bottom: 1px solid #DADADA;color: #666;font-size: .15rem;
}
.dm-hd .other .left{
	display: inline-block;width: 22%;vertical-align: top;
}
.dm-hd .other .unit{
	width: 76%;word-break: break-all;display: inline-block;color: #666;
}
.dm-hd .other .unit img{
	width: 15px;height: 15px;vertical-align: -2px;margin-left: 3px;
}
.dm-bd{
	margin-top: 10px;background: #fff;overflow: hidden;padding-bottom: .15rem;
}
.dm-bd h3{
	line-height: 1.5;padding: .1rem .15rem;border-bottom: 1px solid #DADADA;font-size: .15rem;color: #333;font-weight: 600;
}
.dm-bd .materials{
	padding: 0 .15rem .15rem;
}
.dm-bd .item{
	display: -webkit-flex;display: flex;-webkit-justify-content: space-between;justify-content: space-between;
	padding: .15rem 0 .1rem;
}
.dm-bd .item .pic{
	width: 18%;height: .6rem;overflow: hidden;border-radius: 4px;
}
.dm-bd .item .pic img{
	width: 100%;height: 100%;
}
.dm-bd .item .info{
	width: 40%;margin-left: 4%;
}
.dm-bd .item .info .title{
	font-size: .15rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;line-height: 1.3;
}
.dm-bd .item .info .size{
	color: #999;font-size: .12rem;line-height: 1.3;word-break: break-all;
}
.dm-bd .item .info .price{
	vertical-align: top;margin-top: .05rem;color: #FF6810;
}
.dm-bd .item .info .through{
	text-decoration: line-through;vertical-align: -3px;display: inline-block;color: #999;padding: 0 .05rem;
}
.dm-bd .item .operate{
	width: 35%;margin-left: 3%;display: -webkit-flex;display: flex;-webkit-justify-content: space-between;
	justify-content: space-between;-webkit-align-items: center;align-items: center;
}
.dm-bd .item .operate a{
	display: inline-block;width: .4rem;height: .4rem;background: #F8F8F8;
	text-align: center;
	
}
.dm-bd .item .operate a img{
	width: .2rem;height: .2rem;margin: .1rem;
}
.dm-bd .item .operate .num{
	font-family: dinc;font-size: .28rem;color: #FF6810;display: inline-block;line-height: .4rem;
}
.dm-bd .other-op{
	display: -webkit-flex;display: flex;-webkit-justify-content: space-between;justify-content: space-between;
	margin: 0 .15rem;
}
.dm-bd .other-op a{
	display: inline-block;line-height: .3rem;border: 1px solid #FF6811;text-align: center;width: 22.5%;border-radius: 4px;
	color: #FF6810;font-size: .13rem;
}
.dm-bd .diy-money{
	padding:.15rem .15rem 0;display: none;
}
.dm-bd .diy-money input{
	width: 100%;height: .32rem;border:  1px solid #e1e1e1;border-radius: 4px;text-align: center;outline-color: #FF6811;color: #666;
	box-sizing: border-box;
}
.dm-ft{
	margin-top: .1rem;background: #fff;
}
.dm-ft .user-info{
	padding:.1rem .15rem;
}
.dm-ft .user-info input{
	width: 100%;height: .32rem;border: 1px solid #e1e1e1;border-radius: 4px;margin-bottom: .1rem;padding: 0 .1rem;box-sizing: border-box;
	outline-color: #FF6811;color: #666;
}
.dm-ft .user-info textarea{
	min-width: 100%;max-width: 100%;min-height: .5rem;max-height: 2rem;box-sizing: border-box;padding: .1rem;border: 1px solid #e1e1e1;
	border-radius: 4px;outline-color: #FF6811;font-family: "微软雅黑";
}
.dm-ft .money{
	line-height: .3rem;text-align: center;color: #FF6810;font-size: .16rem;margin-bottom: .1rem;
}
.btn{
    width: 100%;height: .5rem;line-height: .5rem;font-size: .16rem;color: #fff;
    text-align: center;background: #FF6810;
}
.btn a{
	color: #fff;display: block;
}
.btn.disable{
	background: #ccc;
}
.btn.disable a{
	-webkit-tap-highlight-color: transparent;
}
.btn a img{
	width: .2rem;height: .2rem;vertical-align: -4px;margin-right: .05rem;
}
/*图片预览*/
#bigImg{
	width: 100%;height: 100%;position: fixed;top:0;left: 0;background: rgba(0,0,0,.8);cursor: pointer;
	-webkit-tap-highlight-color: transparent;display: none;z-index: 999;
}
#bigImg .bd{
	position: relative;width: 100%;overflow: hidden;z-index: 10;
}
#bigImg .bd li{
	float: left;overflow: hidden;width: 100%;
}
#bigImg .bd li img{
	width: 90%;max-height: 5rem;margin: 0 5%;
}
#bigImg .intro p{
	line-height: 1.5;text-align: center;font-size: .14rem;color: #fff;margin-top: .05rem;padding: 0 .15rem;
}
#bigImg .intro p:first-child{
	font-size: .16rem;
}
