<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="IE=8,IE=9,IE=10,IE=11,Chrome=1">
		<title>关于我们</title>
		<link rel="stylesheet" type="text/css" href="../../../res/css/dev/resourceCenter778/res_center.css"/>
	</head>
	<body>
		<div class="pageContainer ">
			<div class="res-head w100p layout">
				<div class="w1200 layout">
					<div class="w100p rh-txt">
						<span>您好，欢迎来到宁波778创业资源中心</span>
					</div>
				</div>
			</div>
			<div class="res-nav w1200 layout">
				<div class="logo fl layout">
					<a href="index.html"><img src="../../../res/images/resourceCenter778/logo.png"/></a>
					<span class="line"></span>
					<span class="text">宁波778创业资源中心</span>
				</div>
				<div class="t-nav fr layout">
					<ul id="nav">
						<li>
							<a href="index.html"><h2>网站首页</h2></a>
						</li>
						<li>
							<a href="bigEvents.html"><h2>中心大事件</h2></a>
						</li>
						<li>
							<a href="sicencePopulation.html"><h2>公益科普</h2></a>
						</li>
						<li class="active">
							<a href="about.html"><h2>关于我们</h2></a>
						</li>
						<li>
							<a href="relation.html"><h2>联系我们</h2></a>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="res-body">
				<div class="position w1200 layout">
					<p>当前位置：<a href="index.html">首页</a>><span class="title">关于我们</span></p>
				</div>
				<div class="r-tab w1200 layout">
					<div class="tab-left">
						<a href="about.html" class="active">关于我们<span class="arrow"></span></a>
						<a href="relation.html">联系我们<span class="arrow"></span></a>
					</div>
					<div class="tab-right">
						<div class="title">
							<span>关于我们</span>
						</div>
						<div class="info">
							<p>地址：宁波市鄞州区泰康西路399号（宁波·善园）</p>
							<p>电话：0574-87412436(宁波团队)</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0571-87165191(杭州团队)</p>
							<p>传真：的卡视角点开链接阿斯利康的肩宽拉伸</p>
							<p>邮箱：的卡视角点开链接阿斯利康的肩宽拉伸</p>
							<p>网址：的卡视角点开链接阿斯利康的肩宽拉伸</p>
							<p>新浪微薄：的卡视角点开链接阿斯利康的肩宽拉伸</p>
							<p>在线咨询：的卡视角点开链接阿斯利康的肩宽拉伸</p>
							<p>志愿者QQ群：的卡视角点开链接阿斯利康的肩宽拉伸</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="res-footer layout">
				<div class="w1200 layout">
					<div class="text layout">
						<p>联系电话：0574-87412436&nbsp;&nbsp;&nbsp;&nbsp;地址：宁波市鄞州区泰康西路399号（宁波·善园）</p>
						<p>Copyright © 宁波市善园公益基金会 版权所有 浙ICP备15018913号-1  杭州智善网络科技有限公司  提供技术支持</p>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" src="../../../res/js/jquery-1.8.2.min.js" ></script>
		<script type="text/javascript" src="../../../res/js/dev/resourceCenter778/res_center.js" ></script>
	</body>
</html>
