<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="IE=8,IE=9,IE=10,IE=11,Chrome=1">
		<title>中心大事件</title>
		<link rel="stylesheet" type="text/css" href="../../../res/css/dev/resourceCenter778/res_center.css"/>
	</head>
	<body>
		<div class="pageContainer ">
			<div class="res-head w100p layout">
				<div class="w1200 layout">
					<div class="w100p rh-txt">
						<span>您好，欢迎来到宁波778创业资源中心</span>
					</div>
				</div>
			</div>
			<div class="res-nav w1200 layout">
				<div class="logo fl layout">
					<a href=""><img src="../../../res/images/resourceCenter778/logo.png"/></a>
					<span class="line"></span>
					<span class="text">宁波778创业资源中心</span>
				</div>
				<div class="t-nav fr layout">
					<ul id="nav">
						<li>
							<a href="index.html"><h2>网站首页</h2></a>
						</li>
						<li class="active">
							<a href=""><h2>中心大事件</h2></a>
						</li>
						<li>
							<a href="sicencePopulation.html"><h2>公益科普</h2></a>
						</li>
						<li>
							<a href="about.html"><h2>关于我们</h2></a>
						</li>
						<li>
							<a href="relation.html"><h2>联系我们</h2></a>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="res-body">
				<div class="position w1200 layout">
					<p>当前位置：<a href="index.html">首页</a>><span class="title">中心大事件</span></p>
				</div>	
				<div class="be-detail w1200 layout">
					<div class="detail-hd">
						<div class="title">
							<h2>的哈水利电力卡视角恐龙当家阿斯利康建档立卡就撒老大佳啊</h2>
						</div>
						<div class="pub-info">
							发布时间：<span class="time">2017-06-15</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							来源：<a href=""><span class="resource">人民日报</span></a>
						</div>
						<div class="share">
							<div class="bshare-custom">
								<div class="bsPromo bsPromo1"></div>
								<a title="分享到新浪微博" class="bshare-sinaminiblog" href="javascript:void(0);"></a>
								<a title="分享到微信" class="bshare-weixin" href="javascript:void(0);"></a>
								<a title="分享到腾讯微博" class="bshare-qqmb" href="javascript:void(0);"></a>
								<a title="分享到QQ空间" class="bshare-qzone"></a>
							</div>
							<a class="bshareDiv" onclick="javascript:return false;"></a>
						</div>
					</div>
					<div class="detail-bd">
						<p>大花洒建档立卡就撒恐龙当家来看撒娇了肯定家记得李降落伞劳动纪律三劳动纪律三的记录三的链接三轮绝对路径爱上了记得李三的集散地降落伞大花洒建档立卡
							就撒恐龙当家来看撒娇了肯定家记得李降落伞劳动纪律三劳动纪律三的记录三的链接三轮绝对路径爱上了记得李三的集散地降落伞</p>
						<p>大花洒建档立卡就撒恐龙当家来看撒娇了肯定家记得李降落伞劳动纪律三劳动纪律三的记录三的链接三轮绝对路径爱上了记得李三的集散地降落伞</p>
						<p>大花洒建档立卡就撒恐龙当家来看撒娇了肯定家记得李降落伞劳动纪律
							三劳动纪律三的记录三的链接三轮绝对路径爱上了记得李三的集散地降落伞三劳动纪律三的记录三的链接三轮绝对路径爱上了记得李三的集散地降落伞
							三劳动纪律三的记录三的链接三轮绝对路径爱上了记得李三的集散地降落伞</p>
						<p>大花洒建档立卡就撒恐龙当家来看撒娇了肯定家记得李降落伞劳动纪律三劳动纪律三的记录三的链接三轮绝对路径爱上了记得李三的集散地降落伞</p>
						<p>大花洒建档立卡就撒恐龙当家来看撒娇了肯定家记得李降落伞劳动纪律三劳动纪律三的记录三的链接三轮绝对路径爱上了记得李三的集散地降落伞</p>
						<p>大花洒建档立卡就撒恐龙当家来看撒娇了肯定家记得李降落伞劳动纪律三劳动纪律三的记录三的链接三轮绝对路径爱上了记得李三的集散地降落伞</p>
						<p>大花洒建档立卡就撒恐龙当家来看撒娇了肯定家记得李降落伞劳动纪律三劳动纪律三的记录三的链接三轮绝对路径爱上了记得李三的集散地降落伞</p>
						<p>大花洒建档立卡就撒恐龙当家来看撒娇了肯定家记得李降落伞劳动纪律三劳动纪律三的记录三的链接三轮绝对路径爱上了记得李三的集散地降落伞</p>
						<p>大花洒建档立卡就撒恐龙当家来看撒娇了肯定家记得李降落伞劳动纪律三劳动纪律三的记录三的链接三轮绝对路径爱上了记得李三的集散地降落伞</p>
					</div>
				</div>
			</div>
			
			<div class="res-footer layout">
				<div class="w1200 layout">
					<div class="text layout">
						<p>联系电话：0574-87412436&nbsp;&nbsp;&nbsp;&nbsp;地址：宁波市鄞州区泰康西路399号（宁波·善园）</p>
						<p>Copyright © 宁波市善园公益基金会 版权所有 浙ICP备15018913号-1  杭州智善网络科技有限公司  提供技术支持</p>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
		<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC2.js"></script>
		<script type="text/javascript" charset="utf-8">
			bShare.addEntry({
			    title: "分享的标题，默认为当前页面标题",
			    url: "",
			    summary: "分享的文本摘要，默认为页面Meta标签中description的内容或者用户高亮的内容",
			    pic: "指定分享的图片的链接，目前支持新浪微博，QQ空间，搜狐微博，网易微博，人人网， 嘀咕，腾讯微博和做啥。"
			});
		</script>
	</body>
</html>
