<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="IE=8,IE=9,IE=10,IE=11,Chrome=1">
		<title>宁波778创业资源中心</title>
		<link rel="stylesheet" type="text/css" href="../../../res/css/dev/resourceCenter778/res_center.css"/>
	</head>
	<body>
		<div class="pageContainer">
			<div class="res-head w100p layout">
				<div class="w1200 layout">
					<div class="w100p rh-txt">
						<span>您好，欢迎来到宁波778创业资源中心</span>
					</div>
				</div>
			</div>
			<div class="res-nav w1200 layout">
				<div class="logo fl layout">
					<a href="index.html"><img src="../../../res/images/resourceCenter778/logo.png"/></a>
					<span class="line"></span>
					<span class="text">宁波778创业资源中心</span>
				</div>
				<div class="t-nav fr layout">
					<ul id="nav">
						<li class="active">
							<a href="index.html"><h2>网站首页</h2></a>
						</li>
						<li>
							<a href="bigEvents.html"><h2>中心大事件</h2></a>
						</li>
						<li>
							<a href="sicencePopulation.html"><h2>公益科普</h2></a>
						</li>
						<li>
							<a href="about.html"><h2>关于我们</h2></a>
						</li>
						<li>
							<a href="relation.html"><h2>联系我们</h2></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="res-banner" id="banner">
				<div class="slideBox">
					<div class="hd">
						<!--有几张图就放几个li-->
						<ul><li></li><li></li><li></li></ul>
					</div>
					<div class="bd">
						<ul><!--图片大小要一样-->
							<li><a href="http://www.SuperSlide2.com" target="_blank"><img src="../../../res/images/resourceCenter778/20161228155329_0493.jpg" /></a></li>
							<li><a href="http://www.SuperSlide2.com" target="_blank"><img src="../../../res/images/resourceCenter778/20170424154502_9218.jpg" /></a></li>
							<li><a href="http://www.SuperSlide2.com" target="_blank"><img src="../../../res/images/resourceCenter778/20170706100457_5732.jpg" /></a></li>
						</ul>
					</div>

					<!-- 下面是前/后按钮代码，如果不需要删除即可 -->
					<a class="prev" href="javascript:void(0)"></a>
					<a class="next" href="javascript:void(0)"></a>

				</div>
			</div>
			<div class="res-news layout">
				<div class="w1200 layout">
					<div class="Title">
						<h2><a href="" class="bgf6"><img src="../../../res/images/resourceCenter778/title-1.png"/></a></h2>
					</div>
					<div class="news picScroll-left picScroll1 layout">
						<div class="bd">
							<ul class="layout">
								<li>
									<div class="pic">
										<a href=""><img src="../../../res/images/resourceCenter778/20170706103709_4169_370247.jpg"/></a>
									</div>
									<div class="title layout">
										<h3><a href="">2017年广东扶贫济困日·南海慈善活动月正式启动</a></h3>
										<div class="time">2017-7-27</div>
									</div>
									<div class="info-news layout">
										<a href="">
											<p class="p5">今年6月28日晚，“扶贫济困、恒善南海——2017广东扶贫济困日·南海慈善活动月”系列活动启动。接下来，南海将开展爱心捐赠、精准扶贫对口帮扶、访贫慰问
												南海将开展爱心捐赠、精准扶贫对口帮扶、访贫慰问南海将开展爱心捐赠、精准扶贫对口帮扶、访贫慰问
											</p>
										</a>
										<div class="btn-news layout">
											<a href="" style="display: none;">查看详情</a>
										</div>
									</div>
								</li>
								<li>
									<div class="pic">
										<a href=""><img src="../../../res/images/resourceCenter778/20170706103709_4169_370247.jpg"/></a>
									</div>
									<div class="title layout">
										<h3><a href="">2017年广东扶贫济困日·南海慈善活动月正式启动</a></h3>
										<div class="time">2017-7-27</div>
									</div>
									<div class="info-news layout">
										<a href="">
											<p class="p5">今年6月28日晚，“扶贫济困、恒善南海——2017广东扶贫济困日·南海慈善活动月”系列活动启动。接下来，南海将开展爱心捐赠、精准扶贫对口帮扶、访贫慰问</p>
										</a>
										<div class="btn-news layout">
											<a href="" style="display: none;">查看详情</a>
										</div>
									</div>
								</li>
								<li>
									<div class="pic">
										<a href=""><img src="../../../res/images/resourceCenter778/20170706103709_4169_370247.jpg"/></a>
									</div>
									<div class="title layout">
										<h3><a href="">2017年广东扶贫济困日·南海慈善活动月正式启动</a></h3>
										<div class="time">2017-7-27</div>
									</div>
									<div class="info-news layout">
										<a href="">
											<p class="p5">今年6月28日晚，“扶贫济困、恒善南海——2017广东扶贫济困日·南海慈善活动月”系列活动启动。接下来，南海将开展爱心捐赠、精准扶贫对口帮扶、访贫慰问</p>
										</a>
										<div class="btn-news layout">
											<a href="" style="display: none;">查看详情</a>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="btn-more">
							<a href="">查看更多</a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="res-project w1200 layout">
				<div class="Title mt20">
					<h2><a href="" class="bgf6"><img src="../../../res/images/resourceCenter778/title-2.png"/></a></h2>
				</div>
				<div class="content">
					<div class="c-nav">
						<div class="c-name active" href="raise">众筹项目</div>
						<div class="c-name" href="special">专项基金</div>
					</div>
					<div class="c-summary">
						<div class="dg-container showBox" name="raise" id="proj_box">
							<div id="d_tab1" class="d_tab layout">
								<ul class="d_img">
									<!--默认是第二个居中，加class active-->
									<li class="d_pos1">
										<div class="thumb">
											<a href=""><img src="../../../res/images/resourceCenter778/img3.jpg" alt="" /></a>	
										</div>
										<div class="titles">
											<a href="" target="_blank">定向冠名基金</a>
										</div>
										<div class="brief">企业（个人）冠名慈善基金分为“非定向捐赠”冠名慈善基金和“定向捐赠基金”</div>
										<div class="btn-ok">
											<a href="" target="_blank">查看详情</a>
										</div>
									</li>
									<li class="d_pos2 active">
										<div class="thumb">
											<a href=""><img src="../../../res/images/resourceCenter778/img3.jpg" alt="" /></a>	
										</div>
										<div class="titles">
											<a href="" target="_blank">定向冠名基金</a>
										</div>
										<div class="brief">企业（个人）冠名慈善基金分为“非定向捐赠”冠名慈善基金和“定</div>
										<div class="btn-ok">
											<a href="" target="_blank">查看详情</a>
										</div>
									</li>
									<li class="d_pos3">
										<div class="thumb">
											<a href=""><img src="../../../res/images/resourceCenter778/img3.jpg" alt="" /></a>	
										</div>
										<div class="titles">
											<a href="" target="_blank">定向冠名基金</a>
										</div>
										<div class="brief">企业（个人）冠名慈善基金分为“非定向捐赠”冠名慈善基金和“定</div>
										<div class="btn-ok">
											<a href="" target="_blank">查看详情</a>
										</div>
									</li>
									<li>
										<div class="thumb">
											<a href=""><img src="../../../res/images/resourceCenter778/img3.jpg" alt="" /></a>	
										</div>
										<div class="titles">
											<a href="" target="_blank">定向冠名基金</a>
										</div>
										<div class="brief">企业（个人）冠名慈善基金分为“非定向捐赠”冠名慈善基金和“定</div>
										<div class="btn-ok">
											<a href="" target="_blank">查看详情</a>
										</div>
									</li>
									<li>
										<div class="thumb">
											<a href=""><img src="../../../res/images/resourceCenter778/img3.jpg" alt="" /></a>	
										</div>
										<div class="titles">
											<a href="" target="_blank">定向冠名基金</a>
										</div>
										<div class="brief">企业（个人）冠名慈善基金分为“非定向捐赠”冠名慈善基金和“定</div>
										<div class="btn-ok">
											<a href="" target="_blank">查看详情</a>
										</div>
									</li>
									<li>
										<div class="thumb">
											<a href=""><img src="../../../res/images/resourceCenter778/img3.jpg" alt="" /></a>	
										</div>
										<div class="titles">
											<a href="" target="_blank">定向冠名基金</a>
										</div>
										<div class="brief">企业（个人）冠名慈善基金分为“非定向捐赠”冠名慈善基金和“定</div>
										<div class="btn-ok">
											<a href="" target="_blank">查看详情</a>
										</div>
									</li>
									
								</ul>
								<a href="javascript:;" class="d_prev arrow"></a>
								<a href="javascript:;" class="d_next arrow"></a>
							</div>
							
							<div class="btn-more">
								<a href="">查看更多</a>
							</div>
						</div>
						<div class="wrap dg-container " name="special" id="funds-box">
							<div id="d_tab2" class="d_tab layout">
								<ul class="d_img">
									<!--放一个li class为d_pos2 , 两个 class为d_pos1和d_pos3 , 三个为1,2,3-->
									<li class="d_pos2 active">
										<div class="thumb">
											<a href=""><img src="../../../res/images/resourceCenter778/img3.jpg" alt="" /></a>	
										</div>
										<div class="titles">
											<a href="" target="_blank">定向冠名基金</a>
										</div>
										<div class="brief">
											企业（个人）冠名慈善基金分为“非定向捐赠”冠名慈善基金和“定...
										</div>
										<div class="btn-ok">
											<a href="" target="_blank">查看详情</a>
										</div>
									</li>
									
								</ul>
								<a href="javascript:;" class="d_prev arrow"></a>
								<a href="javascript:;" class="d_next arrow"></a>
							</div>
							
							<div class="btn-more">
								<a href="">查看更多</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="res-news layout">
				<div class="w1200 layout">
					<div class="Title">
						<h2><a href="" class="bgf6"><img src="../../../res/images/resourceCenter778/title-3.png"/></a></h2>
					</div>
					<div class="news picScroll-left picScroll2 layout">
						<div class="bd">
							<ul class="layout">
								<li>
									<div class="pic">
										<a href=""><img src="../../../res/images/resourceCenter778/20170706103709_4169_370247.jpg"/></a>
									</div>
									<div class="title layout">
										<h3><a href="">2017年广东扶贫济困日·南海慈善活动月正式启动</a></h3>
										<div class="time">2017-7-27</div>
									</div>
									<div class="info-news layout">
										<a href="">
											<p class="p5">今年6月28日晚，“扶贫济困、恒善南海——2017广东扶贫济困日·南海慈善活动月”系列活动启动。接下来，南海将开展爱心捐赠、精准扶贫对口帮扶、访贫慰问...</p>
										</a>
										<div class="btn-news layout">
											<a href="" style="display: none;">查看详情</a>
										</div>
									</div>
								</li>
								<li>
									<div class="pic">
										<a href=""><img src="../../../res/images/resourceCenter778/20170706103709_4169_370247.jpg"/></a>
									</div>
									<div class="title layout">
										<h3><a href="">2017年广东扶贫济困日·南海慈善活动月正式启动</a></h3>
										<div class="time">2017-7-27</div>
									</div>
									<div class="info-news layout">
										<a href="">
											<p class="p5">今年6月28日晚，“扶贫济困、恒善南海——2017广东扶贫济困日·南海慈善活动月”系列活动启动。接下来，南海将开展爱心捐赠、精准扶贫对口帮扶、访贫慰问...</p>
										</a>
										<div class="btn-news layout">
											<a href="" style="display: none;">查看详情</a>
										</div>
									</div>
								</li>
								<li>
									<div class="pic">
										<a href=""><img src="../../../res/images/resourceCenter778/20170706103709_4169_370247.jpg"/></a>
									</div>
									<div class="title layout">
										<h3><a href="">2017年广东扶贫济困日·南海慈善活动月正式启动</a></h3>
										<div class="time">2017-7-27</div>
									</div>
									<div class="info-news layout">
										<a href="">
											<p class="p5">今年6月28日晚，“扶贫济困、恒善南海——2017广东扶贫济困日·南海慈善活动月”系列活动启动。接下来，南海将开展爱心捐赠、精准扶贫对口帮扶、访贫慰问...</p>
										</a>
										<div class="btn-news layout">
											<a href="" style="display: none;">查看详情</a>
										</div>
									</div>
								</li>
								<li>
									<div class="pic">
										<a href=""><img src="../../../res/images/resourceCenter778/20170706103709_4169_370247.jpg"/></a>
									</div>
									<div class="title layout">
										<h3><a href="">2017年广东扶贫济困日·南海慈善活动月正式启动</a></h3>
										<div class="time">2017-7-27</div>
									</div>
									<div class="info-news layout">
										<a href="">
											<p class="p5">今年6月28日晚，“扶贫济困、恒善南海——2017广东扶贫济困日·南海慈善活动月”系列活动启动。接下来，南海将开展爱心捐赠、精准扶贫对口帮扶、访贫慰问...</p>
										</a>
										<div class="btn-news layout">
											<a href="" style="display: none;">查看详情</a>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="btn-more">
							<a href="">查看更多</a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="res-partner w1200 layout">
				<div class="Title mt20">
					<h2><a href=""><img src="../../../res/images/resourceCenter778/title-4.png"/></a></h2>
				</div>
				<div class="partner-list layout">
					<div class="picMarquee-left">
						<div class="bd">
							<ul>
								<li>
									<a href="" target="_blank" class="pic"><img src="../../../res/images/resourceCenter778/20170117155833_5160.jpg" title="" alt=""/></a>
									<a href="" target="_blank" class="pic"><img src="../../../res/images/resourceCenter778/20170117155833_5160.jpg" title="" alt=""/></a>
								</li>
								<li>
									<a href="" target="_blank" class="pic"><img src="../../../res/images/resourceCenter778/20170117155833_5160.jpg" title="" alt=""/></a>
									<a href="" target="_blank" class="pic"><img src="../../../res/images/resourceCenter778/20170117155833_5160.jpg" title="" alt=""/></a>
								</li>
								<li>
									<a href="" target="_blank" class="pic"><img src="../../../res/images/resourceCenter778/20170117155833_5160.jpg" title="" alt=""/></a>
									<a href="" target="_blank" class="pic"><img src="../../../res/images/resourceCenter778/20170117155833_5160.jpg" title="" alt=""/></a>
								</li>
								<li>
									<a href="" target="_blank" class="pic"><img src="../../../res/images/resourceCenter778/20170117155833_5160.jpg" title="" alt=""/></a>
									<a href="" target="_blank" class="pic"><img src="../../../res/images/resourceCenter778/20170117155833_5160.jpg" title="" alt=""/></a>
								</li>
								<li>
									<a href="" target="_blank" class="pic"><img src="../../../res/images/resourceCenter778/20170117155833_5160.jpg" title="" alt=""/></a>
									<a href="" target="_blank" class="pic"><img src="../../../res/images/resourceCenter778/20170117155833_5160.jpg" title="" alt=""/></a>
								</li>
								<li>
									<a href="" target="_blank" class="pic"><img src="../../../res/images/resourceCenter778/20170117155833_5160.jpg" title="" alt=""/></a>
									<a href="" target="_blank" class="pic"><img src="../../../res/images/resourceCenter778/20170117155833_5160.jpg" title="" alt=""/></a>
								</li>
							</ul>	
						</div>
						
					</div>
				</div>
			</div>
			
			<div class="res-footer layout">
				<div class="w1200 layout">
					<div class="text layout">
						<p>联系电话：0574-87412436&nbsp;&nbsp;&nbsp;&nbsp;地址：宁波市鄞州区泰康西路399号（宁波·善园）</p>
						<p>Copyright © 宁波市善园公益基金会 版权所有 浙ICP备15018913号-1  杭州智善网络科技有限公司  提供技术支持</p>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" src="../../../res/js/jquery-1.8.2.min.js" ></script>
		<script type="text/javascript" src="../../../res/js/common/jquery.SuperSlide.2.1.1.js" ></script>
		<script type="text/javascript" src="../../../res/js/dev/resourceCenter778/banner3d.js" ></script>
		<script type="text/javascript" src="../../../res/js/dev/resourceCenter778/res_center.js" ></script>
		<script type="text/javascript">
			$(".slideBox").slide({mainCell:".bd ul",effect:"leftLoop",autoPlay:true,trigger:"click",delayTime:700});
		</script>
	</body>
</html>
