<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="IE=8,IE=9,IE=10,IE=11,Chrome=1">
		<title>中心大事件</title>
		<link rel="stylesheet" type="text/css" href="../../../res/css/dev/resourceCenter778/res_center.css"/>
	</head>
	<body>
		<div class="pageContainer ">
			<div class="res-head w100p layout">
				<div class="w1200 layout">
					<div class="w100p rh-txt">
						<span>您好，欢迎来到宁波778创业资源中心</span>
					</div>
				</div>
			</div>
			<div class="res-nav w1200 layout">
				<div class="logo fl layout">
					<a href="index.html"><img src="../../../res/images/resourceCenter778/logo.png"/></a>
					<span class="line"></span>
					<span class="text">宁波778创业资源中心</span>
				</div>
				<div class="t-nav fr layout">
					<ul id="nav">
						<li>
							<a href="index.html"><h2>网站首页</h2></a>
						</li>
						<li>
							<a href="bigEvents.html"><h2>中心大事件</h2></a>
						</li>
						<li class="active">
							<a href="sicencePopulation.html"><h2>公益科普</h2></a>
						</li>
						<li>
							<a href="about.html"><h2>关于我们</h2></a>
						</li>
						<li>
							<a href="relation.html"><h2>联系我们</h2></a>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="res-body">
				<div class="position w1200 layout">
					<p>当前位置：<a href="index.html">首页</a>><span class="title">公益科普</span></p>
				</div>	
				<div class="be-list w1200 layout">
					<div class="title">
						<span>公益科普</span>
					</div>
					<div class="event-list layout">
						<a href=""><div class="list-item clearFix">
							<h3>的骄傲上来看的骄傲看似简单看撒娇的<span>2017-06-15</span></h3>
							<div class="info clearFix">
								<div class="pic">
									<img src=""/>
								</div>
								<div class="content">
									<p>打款拉丝机点开链接阿斯利康就打开了解散的萨克来看都结束了看见打卡计时看来建档立卡就按上课了建档立卡解散单就拉上建档立卡静安寺了空间的来看撒娇老大佳索拉卡建档立卡解散的</p>
									<p>打款拉丝机点开链接阿斯利康就打开了解散的萨克来看都结束了看见打卡计时看来建档立卡就按上课了建档立卡解散单就拉上建档立卡静安寺了空间的来看撒娇老大佳索拉卡建档立卡解散的</p>
								</div>
							</div>
						</div></a>
						
						<a href=""><div class="list-item clearFix">
							<h3>的骄傲上来看的骄傲看似简单看撒娇的<span>2017-06-15</span></h3>
							<div class="info clearFix">
								<div class="pic">
									<img src=""/>
								</div>
								<div class="content">
									<p>打款拉丝机点开链接阿斯利康就打开了解散的萨克来看都结束了看见打卡计时看来建档立卡就按上课了建档立卡解散单就拉上建档立卡静安寺了空间的来看撒娇老大佳索拉卡建档立卡解散的</p>
									<p>打款拉丝机点开链接阿斯利康就打开了解散的萨克来看都结束了看见打卡计时看来建档立卡就按上课了建档立卡解散单就拉上建档立卡静安寺了空间的来看撒娇老大佳索拉卡建档立卡解散的</p>
								</div>
							</div>
						</div></a>
						
					</div>
				</div>
			</div>
			
			<div class="res-footer layout">
				<div class="w1200 layout">
					<div class="text layout">
						<p>联系电话：0574-87412436&nbsp;&nbsp;&nbsp;&nbsp;地址：宁波市鄞州区泰康西路399号（宁波·善园）</p>
						<p>Copyright © 宁波市善园公益基金会 版权所有 浙ICP备15018913号-1  杭州智善网络科技有限公司  提供技术支持</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
