body {
	font-family: "微软雅黑", "宋体", "楷体", "仿宋", Tahoma;
}
.clearfix:before, .clearfix:after {
	content: "";display: table;
}
.clearfix:after {
	clear: both;overflow: hidden;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.flex{
	display: -webkit-flex;display: flex;
}
.spb{
	-webkit-justify-content: space-between;justify-content: space-between;
}
.spa{
	-webkit-justify-content: space-around;justify-content: space-around;
}
.fcen{
	-webkit-align-items: center;align-items: center;
}
/* 用户中心公共头部 begin */
.userTop {
	height: 2.41rem;width: 100%;background: url(../../images/h5/images/userCenter/userTop.png) no-repeat;
	background-size: 100% 100%;
}
.userTop a{
	display: block;height: 100%;
}
.userTop .userLogo {
	float: left;width: 1.29rem;height: 1.29rem;margin: .71rem 0 0 .26rem;
}
.userTop img {
	width: 1.25rem;height: 1.25rem;border-radius: 50%;border: 2px solid #fff;
}
.userInfo {
	padding: .8rem 0 0 1.7rem;
}
.userInfo .name {
	color: #333;font-size: .36rem;
}
.userInfo .medal {
	width: .26rem;height: .23rem;background: url(../../images/h5/images/userCenter/medal-icon.png) no-repeat;
	background-size: .26rem .23rem;display: inline-block;
	position: relative;top: -.15rem;left: .05rem;
}
.userInfo .phone {
	color: #333;margin-top: .1rem;font-size: .24rem;
}
.userInfo .address {
	display: block;color: #333;font-size: .24rem;
}

/*未登录状态*/
.userTop.nologin {
	text-align: center;
}
.userTop.nologin img {
	margin-top: .4rem;
}
.userTop.nologin p {
	font-size: .36rem;color: #797979;font-weight: 600;margin-top: .05rem;
}

/* 用户中心公共头部 end */
.w33 {
	width: 33.33%;
}
.w25 {
	width: 25%;
}
.w28 {
	width: 28%;
}
.w30 {
	width: 30%;
}
.w44 {
	width: 44%;
}
.stateItem {
	text-align: center;box-sizing: border-box;
}
.stateItem a{
	display: block;
}
.stateItem p {
	color: #333;margin-bottom: .05rem;font-size: .26rem;
}
.stateItem span {
	color: #c4c4c4;font-size: .23rem;
}
.stateItem.active p {
	color: #ff6c0a;
}
.stateItem.active span {
	color: #333;
}

/*用户中心首页icon*/
.function-icon {
	width: .46rem;height: .9rem;margin-right: .07rem;display: inline-block;
	background: url(../../images/h5/images/userCenter/function-icon.png) no-repeat;
	background-size: .46rem 8.75rem;
}
.function-icon.icon1 {
	background-position: 0 0;
}
.function-icon.icon2 {
	background-position: 0 -2.23rem;
}
.function-icon.icon3 {
	background-position: 0 -3.13rem;
}
.function-icon.icon4 {
	background-position: 0 -4.12rem;
}
.function-icon.icon5 {
	background-position: 0 -5.02rem;
}
.function-icon.icon6 {
	background-position: 0 -5.94rem;
}
.function-icon.icon7 {
	background-position: 0 -6.92rem;
}
.function-icon.icon8 {
	background-position: 0 -7.82rem;
}

/* 用户中心底部固定按钮 */
.buttonBox {
	background-color: #fff;border-top: 1px solid #ccc;
	position: fixed;bottom: 0;left: 0;width: 100%;padding: 5px 0;
}
.buttonItem {
	float: left;width: 25%;
}
.buttonItem a {
	display: block;height: .90rem;
	background: url(../../images/h5/images/userCenter/btnList.png) no-repeat;
	background-size: 6rem 1.85rem;
}
.buttonList .buttonItem a.xsBtn {
	background-position: .1rem .04rem;
}
.buttonList .buttonItem.active a.xsBtn {
	background-position: .1rem -.98rem;
}
.buttonList .buttonItem a.qzBtn {
	background-position: -1.38rem .04rem;
}
.buttonList .buttonItem.active a.qzBtn {
	background-position: -1.38rem -.98rem;
}
.buttonList .buttonItem a.xxBtn {
	background-position: -2.86rem .04rem;
}
.buttonList .buttonItem.active a.xxBtn {
	background-position: -2.86rem -.98rem;
}
.buttonList .buttonItem a.wdBtn {
	background-position: -4.3rem 0;
}
.buttonList .buttonItem.active a.wdBtn {
	background-position: -4.3rem -.98rem;
}
.roadMoreBox {
	text-align: center;margin: .1rem 0 .24rem;
	color: #808080;font-size: .24rem;position: relative;
}
.roadMoreBox a {
	color: #666;
}
.roadMoreBox a.no{
	color: #999;
}
.errorBox {
	height: .4rem;line-height: .4rem;position: fixed;top: 60%;left: 0;right: 0;
	color: #fff;font-size: .26rem;text-align: center;
	background: rgba(0, 0, 0, .8);padding: .27rem 0;
}
.errorBox i {
	width: .4rem;height: .4rem;background: url(../../images/h5/images/userBinding/error.png) no-repeat;
	background-size: .4rem .4rem;margin-right: .42rem;
	display: inline-blockvertical-align: top;
}
.cue2 {
	width: 80%;position: fixed;bottom: 300px;left: 10%;line-height: 1.5;
	text-align: center;color: #fff;font-size: 14px;padding: 10px;
	background: rgba(0, 0, 0, .8);box-sizing: border-box;border-radius: 6px;
	z-index: 20000;display: none;
}

/*用户中心首页、求助*/
.userDate, .helpState {
	border-top: 1px solid #ccc;padding: .3rem 0 .25rem;
	background-color: #fff;margin-bottom: .2rem;
}

/*分享、礼品、发票*/
.tabBox {
	padding: .13rem 0;
}
.tabBox .stateItem {
	border-right: 1px solid #f1f1f1;padding: .15rem 0;
}
.tabBox .stateItem.last {
	border-right: none;
}
.wrapper {
	padding-top: .3rem;margin-bottom: 1.46rem;
}
.tabInfo{
	display: none;
}
.mainBox {
	padding: 0 .2rem;margin-bottom: .2rem;background-color: #fff;overflow: hidden;
}
.mainTitle {
	border-bottom: 1px solid #e5e5e5;
}
.mainTitle h2 {
	color: #333;font-size: .25rem;
}
.moreInfo {
	font-size: .23rem;color: #c4c4c4;
}
.moreInfo:after{
	content: '';display: inline-block;width: 7px;height: 7px;border-top: 1px solid #c4c4c4;border-right: 1px solid #c4c4c4;
	-webkit-transform: rotate(45deg);transform: rotate(45deg);
}
.moreInfo.no:after{
	display: none;
}
.moreInfo.black {
	color: #333;
}

/*用户中心首页 begin*/
.donateState {
	padding: .28rem 0;
}
.fuctionBox {
	margin-bottom: 1.66rem;
}
.fuctionBox .mainBox .mainTitle.last {
	border-bottom: none;
}
/*用户中心首页 end*/

/* 我的分享,我的礼品 begin*/
.shareItem, .giftItem {
	border-bottom: 1px solid #ccc;border-top: 1px solid #ccc;padding: .22rem .25rem;
	background-color: #fff;margin-bottom: .2rem;position: relative;
}
.shareItem:last-child, .giftItem:last-child {
	margin-bottom: 0;
}
.shareItem img, .giftItem img {
	height: 1rem;border: 1px solid #333;border-radius: 7px;
}
.shareItem img {
	width: 1.2rem;
}
.giftItem img {
	width: 1rem;
}
.itemRight {
	color: #aaa;font-size: .2rem;margin-left: 1.42rem;
}
.itemTitle {
	color: #333;font-size: .26rem;margin-bottom: .05rem;
}
.giftState {
	float: right;font-size: .2rem;color: #707070;
}
.shareItem .itemRight p {
	margin-top: .12rem;
}
.itemRight p span {
	color: #ff6c0a;
}
.jfSum {
	color: #333;font-size: .2rem;position: absolute;right: .25rem;bottom: .3rem;
}
.jfSum i {
	color: #f45156;
}
/* 我的分享,我的礼品 end*/

/* 开票记录 begin */
.fpSumItem {
	font-size: .26rem;color: #333;
	border-bottom: 1px solid #ccc;padding: .15rem 0;
}
.fpSumItem.last {
	border-bottom: none;
}
.fpSumItem span {
	color: #ff6810;
}
.remarkItem {
	font-size: .24rem;color: #999;margin-top: .14rem;
}
.fpSumItem label {
	margin-right: .4rem;
}
.fpSumItem input[type="text"] {
	font-size: .26rem;color: #333;width: 70%;
}
.fpdonateList {
	padding: .22rem 0;
}
.mainerLeft{
	max-height: 8rem;overflow-y: auto;padding: 1px;
}
.fpdonateItem {
	line-height: 1.5;font-size: .24rem;border: 1px solid #333;
	border-radius: .1rem;padding: .1rem .2rem;margin-bottom: .2rem;
}
.fpdonateItem label{
	width: 90%;word-break: break-all;
}
.check{
	-webkit-appearance: none;-moz-appearance: none;appearance: none;display: inline-block;
	width: .32rem;height: .32rem;border: 1px solid #999;
}
.check:checked{
	background: url(../../images/h5/images/together/check.png) no-repeat;
	background-size: .3rem;background-position: center;border-color: #666;
}
.fpdonateItem:last-child {
	margin-bottom: 0;
}
.selAll {
	color: #333;position: absolute;top: 0;right: .01rem;margin-right: .2rem;
}
.selAll .check {
	margin-left: .1rem;
}
.submitBtn {
	width: 90%;background-color: #ff6811;text-align: center;height: .8rem;line-height: .8rem;
	color: #fff;font-size: .3rem;border-radius: .1rem;margin: .6rem 5% .9rem;
}
.submitBtn.disabled{
	background: #ccc;
}
.fpListItem {
	padding: .37rem .78rem .37rem .26rem;border-bottom: 1px solid #ccc;position: relative;
	margin-bottom: .2rem;background-color: #fff;border-top: 1px solid #ccc;
}
.fpListItem a{
	display: block;-webkit-tap-highlight-color: transparent;
}
.fpListTitle {
	font-size: .26rem;color: #333;margin-bottom: .25rem;
}
.fpListTitle p {
	width: 4.85rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;float: left;
}
.fpListTitle span {
	float: right;color: #f45156;
}
.fpListState {
	font-size: .24rem;color: #707070;
}
.fpListPiont {
	width: .15rem;height: .24rem;display: block;position: absolute;
	top: .65rem;right: .35rem;background: url(../../images/h5/images/userCenter/fppoint.png) no-repeat;
	background-size: .15rem .24rem;
}
#loading{
	position: fixed;top: 0;bottom: 0;left: 0;right: 0;background: rgba(0,0,0,0);z-index: 99;display: none;
}
#loadingIcon{
	position: absolute;width: 100px;height: 100px;left: 50%;top: 50%;margin-left: -50px;margin-top: -50px;
	background: rgba(0,0,0,.7);z-index: 199;border-radius: 6px;
}
#loadingIcon img{
	width: 40%;height: 40%;margin:30%;
}
#closeIcon{
	display: inline-block;position: absolute;top: 10px;right: 10px;width: 15px;height: 15px;
	background: url(../../images/h5/images/icon_close.png) no-repeat;background-size: 100%;
}

/* 开票记录 end */

/* 我的证书 begin */
.rewardList {
	padding: 0 .25rem;
}
.rewardItem {
	border-left: 2px solid #ddd;padding-left: .34rem;padding-bottom: .3rem;
}
.rewardTitle, .rewardLoadMore {
	font-size: .26rem;padding: .13rem 0 .17rem .19rem;position: relative;
}
.rewardTitle {
	color: #333;background-color: #fe971a;
}
.rewardLoadMore {
	color: #808080;background-color: #fff;display: block;text-align: center;
}
.rewardLoadMore:before {
	content: "";width: 0;
	border-top: .12rem solid transparent;border-bottom: .12rem solid transparent;
	border-right: .15rem solid #fff;
	position: absolute;top: .18rem;left: -.15rem;
}
.rewardTitle:before {
	content: "";width: 0;
	border-top: .12rem solid transparent;border-bottom: .12rem solid transparent;
	border-right: .15rem solid #fe971a;
	position: absolute;top: .18rem;left: -.15rem;
}
.rewardTitle .point, .rewardLoadMore .point {
	width: .05rem;height: .05rem;border: 2px solid #fe971a;border-radius: 50%;
	position: absolute;top: .25rem;left: -.4rem;background-color: #fff;
}
.rewardInner {
	padding: 0 0 .1rem .18rem;background-color: #fff;
}
.rewardInfo {
	border-bottom: 1px solid #e5e5e5;font-size: .2rem;color: #5b5b5b;
	padding: .11rem .15rem .13rem .13rem;line-height: 1.6;margin-bottom: .23rem;
}
.rewardPic {
	width: 5.81rem;height: 4.15rem;margin-left: .13rem;
}
.rewardDate {
	color: #5b5b5b;font-size: .2rem;padding: 0 .22rem 0 .13rem;
	margin-top: .11rem;line-height: .37rem;
}
.shareBtn {
	width: .72rem;height: .37rem;float: right;
	background: url(../../images/h5/images/userCenter/shareBtn.png) no-repeat;
	background-size: .72rem .37rem;
}
/* 我的证书 end */

.mainTitle.last, .fpSumItem.last {
	border-bottom: none;
}

/* 积分兑换界面 begin */
.giftImg {
	width: 7.2rem;height: 4.21rem;
}
.giftImg img {
	width: 100%;height: 100%;
}
.exchangeBox {
	border-bottom: 1px solid #c4c4c4;padding: .4rem .2rem .4rem .3rem;background-color: #fff;
}
.exchangeLeft span {
	color: #ff6c0a;font-size: .6rem;
}
.exchangeLeft i.jf-icon {
	width: .3rem;height: .32rem;vertical-align: bottom;margin-left: .15rem;
	background: url(../../images/h5/images/userCenter/jf-icon.png) no-repeat;
	background-size: .3rem .32rem;display: inline-block;
}
.exchangeBtn {
	width: 2rem;height: .8rem;text-align: center;line-height: .8rem;
	color: #fff;font-size: .32rem;background-color: #ff6c0a;border-radius: 7px;
}
.giftDetailInfo {
	background-color: #fff;padding: .3rem .2rem;
}
.giftDetailInfo > div {
	margin-bottom: .3rem;
}
.giftDetailInfo h1 {
	color: #333;font-size: .3rem;margin-bottom: .12rem;
}
.giftDetailInfo p {
	color: #333;font-size: .24rem;
}
.giftDetailInfo .red {
	color: #ff6c0a;
}
/* 积分兑换界面 end */

/* 地址填写 begin */
.addressForm {
	background-color: #fff;
}
.formItem {
	height: .98rem;line-height: .98rem;color: #333;font-size: .26rem;
	padding-left: .26rem;border-bottom: 1px solid #e5e5e5;position: relative;
}
.formItem label {
	width: 1rem;display: inline-block;
}
.formItem input[type="text"], .formItem select {
	font-size: .26rem;color: #333;width: 60%;left: 0;
}
.formItem.error:after {
	content: "";background: url(../../images/h5/images/userCenter/error2.png) no-repeat;
	width: .4rem;height: .4rem;background-size: .4rem .4rem;
	display: block;position: absolute;top: .30rem;right: .2rem;
}
/* 地址填写 begin */

/* 开票记录详情 begin */
.pd {
	padding: .37rem .58rem .37rem .26rem;
}
.fpListItemP {
	color: #707070;font-size: .24rem;margin-bottom: .15rem;
}
.fpListItemP i {
	color: #ff6c0a;
}
.fpListItemP label {
	color: #333;font-size: .26rem;width: 1.47rem;float: left;
}
.fpListItemP span {
	float: left;width: 4.8rem;line-height: 1.5;
}
.fpListItemP1 {
	color: #3c3c3c;font-size: .24rem;margin-bottom: .15rem;
}
.fpListItemP1 i {
	max-width: 3rem;display: inline-block;white-space: nowrap;overflow: hidden;
	text-overflow: ellipsis;vertical-align: bottom;
}
/* 开票记录详情 end */

/*红包大派送 begin */
.sendBox {
	width: 100%;min-height: 9.54rem;
	background: url(../../images/h5/images/redPaper/redbaoTop.jpg) no-repeat;
	background-size: 100% 8rem;position: relative;padding-top: 4rem;
}
.sendBoxend {
	width: 100%;height: 6rem;
	background: url(../../images/h5/images/redPaper/redbaoTottom.jpg) no-repeat;
	background-size: 100% 6rem;margin-top: 2.68rem;
}
.sendBox .redPaperBtn {
	position: absolute;top: 5.6rem;left: 2.2rem;
}
.sendBox .redPaperBtn > a {
	width: 3rem;height: .7rem;line-height: .7rem;color: #fff;
	font-size: .32rem;font-weight: bold;margin-bottom: .46rem;
	display: block;background: #ff7b47;text-align: center;border-radius: 3px;
}
.sendBox .redTicket {
	text-align: center;color: #b52416;height: 1.3rem;
}
.sendBox .redTicket .source {
	line-height: .7rem;font-size: .2rem;height: .7rem;
}
.sendBox .redTicket span {
	font-size: .26rem;font-weight: bold;
}
.sendBox .redTicket .sum {
	font-size: .5rem;height: .7rem;
}
.sendBox .redTicket .sum i {
	font-size: .5rem
}
.redPaperBox {
	position: absolute;left: 1.2rem;right: .4rem;width: 4.9rem;
	margin-top: .9rem;overflow-y: scroll;height: 4rem;
}
.redPaperList {
	padding: 0 .3rem;
}
.redPaperList li {
	border-bottom: 1px solid #c4c4c4;font-size: .24rem;height: .64rem;
	line-height: .64rem;padding: .2rem 0;
}
.redPaperList li span {
	display: inline-block;vertical-align: top;width: 37%;overflow: hidden;
	height: 30px;line-height: 30px;padding-left: 2%;
}
.redPaperList li img {
	width: .64rem;height: .64rem;float: left;
}
.redPaperList li .money {
	color: #ce3a37;float: right;text-align: right;
}
.redPaperBox .title {
	height: .35rem;border-bottom: 2px solid #9b9b9b;position: relative;margin-bottom: .25rem;
}
.redPaperBox .title span {
	color: #fff;background-color: #ce3a37;font-size: .24rem;position: absolute;
	top: .17rem;left: 50%;margin-left: -1.08rem;line-height: .4rem;
	width: 2.16rem;display: block;text-align: center;
}
.redPaperBox .title span:before, .redPaperBox .title span:after {
	content: "";display: block;width: .12rem;height: .12rem;
	position: absolute;top: .13rem;background-color: #9b9b9b;border-radius: 50%;
}
.redPaperBox .title span:before {
	left: -.06rem;
}
.redPaperBox .title span:after {
	right: -.06rem;
}
.popup {
	position: fixed;bottom: 0;right: 0;top: 0;left: 0;
	z-index: 700;display: block;background-color: rgba(0, 0, 0, .5);
}
.rotate {
	width: 6.5rem;height: 1.86rem;position: fixed;top: 10%;left: 50%;
	margin-left: -3.25rem;border-radius: 5px;z-index: 701;
}
.rotate img {
	width: 100%;height: 100%;
}
.confirmBox {
	position: fixed;left: 50%;top: 1.6rem;margin-left: -2.75rem;width: 5.5rem;height: 8.5rem;
	text-align: center;background: url(../../images/h5/images/redPaper/redPaper-m.png) no-repeat;
	background-size: 5.5rem 8.5rem;z-index: 701;
}
.confirmInner {
	position: absolute;top: 2rem;left: .42rem;
}
.confirmInner:after, .confirmInner:before {
	content: "";width: .38rem;height: .31rem;border-radius: 100%;
	background-color: #df002c;position: absolute;top: 2.25rem;display: block;z-index: 10;
}
.confirmInner:before {
	left: -.2rem;
}
.confirmInner:after {
	right: -.19rem;
}
.confirmInner .top {
	position: relative;width: 4.66rem;height: 2.4rem;
}
.confirmInner .top img {
	width: 100%;height: 100%;
}
.confirmInner .bottom {
	width: 4.36rem;height: 1.4rem;background: url(../../images/h5/images/redPaper/ticket1.jpg) no-repeat;
	background-size: 4.66rem 1.9rem;position: relative;padding: .26rem .17rem;
}
.confirmInner .bottom h4 {
	font-size: .24rem;color: #333;overflow: hidden;text-overflow: ellipsis;
	text-align: left;margin-bottom: .1rem;
}
.confirmInner .bottom p {
	color: #333;font-size: .2rem;text-align: left;
}
.confirmInner .bottom .hasDonate {
	font-size: .2rem;position: absolute;bottom: .23rem;
}
.confirmInner .hasDonate i {
	color: #fe0000;
}
.confirmInner .otherInfo {
	font-size: .3rem;color: #fff;margin: .2rem 0 .25rem;
}
.confirmInner .otherInfo span {
	color: #f4e823;
}
.confirmInner .otherInfo span i {
	font-size: .4rem;
}
.confirmInner .btn {
	width: 3.5rem;height: .5rem;line-height: .5rem;text-align: center;font-size: .36rem;
	color: #df002c;font-weight: bold;display: block;background: #fbe0c9;
	margin: 0 auto;border-radius: 5px;box-shadow: -1px 2px 3px #660013;
}
.confirmBox .close {
	width: .2rem;height: .2rem;background: url(../../images/h5/images/redPaper/close2.png) no-repeat;
	background-size: .2rem .2rem;position: absolute;right: .1rem;top: .1rem;
}
/*红包大派送 end*/

/*求助 begin*/
.helpDate {
	border-bottom: 1px solid #ccc;padding: .1rem .2rem;background-color: #fff;
	color: #282828;font-size: .2rem;
}
.helpDate img {
	float: left;width: .42rem;height: .4rem;
}
.helpDateIn {
	float: left;width: 6.32rem;
}
.helpDate span {
	height: .4rem;line-height: .4rem;
}
.helpDate i {
	color: #ff6c0a;
}
.helpDate .help-icon {
	background: url(../../images/h5/images/userCenter/help-icon.png) no-repeat;
	background-size: .42rem .4rem;
}
.helpItem {
	border-bottom: 1px solid #ccc;border-top: 1px solid #ccc;
	padding: .22rem .2rem;position: relative;background-color: #fff;margin-bottom: .1rem;
}
.helpItem .itemTop {
	padding-bottom: .2rem;background: url(../../images/h5/images/line.png) repeat-x bottom left;
}
.helpItem .itemTop img {
	width: 2.28rem;height: 1.48rem;float: left;
}
.helpItem .itemRight {
	margin-left: 2.4rem;color: #aaa;font-size: .2rem;line-height: .35rem;
}
.helpItem .itemRight h3 {
	color: #333;font-size: .24rem;margin-bottom: .05rem;white-space: nowrap;
	overflow: hidden;text-overflow: ellipsis;width: 4.2rem;
}
.helpItem .itemRight .red {
	color: #ff6c0a;
}
.helpItem .itemRight .black {
	color: #333;
}
.helpItem .itemBottom {
	margin-top: .2rem;
}
.itemBottom > a {
	width: 1.65rem;height: .5rem;line-height: .5rem;color: #fff;
	float: left;background-color: #ff6c0a;text-align: center;
	font-size: .25rem;border-radius: 5px;
}
.itemBottom i {
	background: url(../../images/h5/images/userCenter/help-icon2.png) no-repeat right top;
	width: .51rem;height: .5rem;background-size: .51rem 1.7rem;float: right;
}
.ml9 {
	margin: 0 .9rem;
}
.helpProState {
	position: absolute;top: 0;right: 0;width: .78rem;height: .8rem;
	background: url(../../images/h5/images/userCenter/helpState.png) no-repeat top right;
	background-size: .78rem 2.5rem;
}
.helpProState.raise {
	background-position: 0 0;
}
.helpProState.end {
	background-position: 0 -.86rem;
}
.helpProState.audit {
	background-position: 0 -1.73rem;
}
.noHelp {
	text-align: center;margin-top: .35rem;
}
.noHelp .info {
	color: #424141;font-size: .26rem;margin-bottom: .35rem;
}
.noHelp .launchBtn {
	width: 5.8rem;height: .7rem;line-height: .7rem;text-align: center;
	color: #fff;font-size: .3rem;display: inline-block;
	background-color: #ff6c0a;border-radius: 7px;
}
/*求助 end*/

/*消息 begin*/
.msgWrapper {
	margin: .3rem 0 1.66rem;
}
.msgDate .msgItem {
	border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;margin-bottom: .2rem;
	background-color: #fff;padding: .15rem .5rem .15rem .7rem;
	font-size: .24rem;color: #746d6d;position: relative;
	background: url(../../images/h5/images/userCenter/point-left.png) no-repeat 6.8rem center #fff;
	background-size: .2rem .34rem;
}
.msgDate .msgItem h2 {
	color: #333;font-size: .3rem;margin-bottom: .2rem;
}
.msgDate .msgItem .date {
	position: absolute;color: #746d6d;font-size: .2rem;top: .2rem;right: .5rem;
}
.msgDate .msgItem p {
	white-space: nowrap;overflow: hidden;text-overflow: ellipsis;
}
.msgDate .msgItem .icon {
	display: block;width: .4rem;height: .4rem;
	background: url(../../images/h5/images/userCenter/msg-icon.png) no-repeat;
	background-size: .4rem 4.5rem;position: absolute;top: .15rem;left: .1rem;
}
.msgDate .msgItem .bk-icon {
	background-position: 0 0;
}
.msgDate .msgItem .of-icon {
	background-position: 0 -1.37rem;
}
.msgDate .msgItem .sy-icon {
	background-position: 0 -2.74rem;
}
.msgDate .msgItem .pj-icon {
	background-position: 0 -4.1rem;
}

/*提示框*/
.cue1 {
	width: 90%;background: #01c67e;position: fixed;
	bottom: 200px;left: 5%;border: 1px solid #cecece;z-index: 600;
}
.prompt_box .cue_back {
	width: 100%;height: 100%;background: rgba(0,0,0,.7);
	position: fixed;bottom: 0;z-index: 500;
}
.cue1 .cue_center {
	width: 100%;height: 145px;margin-top: 5px;background: #fff;
}
.cue1 .cue_center .cue_center1 {
	width: 100%;
}
.cue1 .cue_center .cue_center1 p {
	color: #666;padding-top: 6px 15% 6px 19%;
}
.cue1 .cue_center .cue_center1 .cue_p1 {
	font-size: 17px;font-weight: bold;padding-top: 14px;text-align: center;
}
.cue1 .cue_center .cue_center1 .cue_p2 {
	font-size: 10px;padding-top: 5px;line-height: 40px;border: 1px solid #eee;
}
.cue1 .cue_center .cue_center1 .cue_p3 {
	line-height: 20px;font-size: 13px;margin: 0 3%;
}
.cue1 .cue_center .cue_center1 .cue_p2 span {
	font-size: 15px;color: red;font-weight: bold;
}
.cue1 .cue_center .cue_center2 {
	width: 100%;padding-top: 4px;
}
.cue1 .cue_center .cue_center2 .cue_fl {
	width: 45%;height: 40px;float: left;background: #ff6811;margin-left: 3%;
}
.cue1 .cue_center .cue_center2 .cue_fr {
	width: 45%;height: 40px;float: right;background: #e0e0e0;margin-right: 3%;
}
.cue1 .cue_center .cue_center2 p {
	line-height: 40px;text-align: center;font-size: 13px;
}
.cue1 .cue_center .cue_center2 .cue_pl {
	color: #fff;
}
.cue1 .cue_center .cue_center2 .cue_pr {
	color: #666;
}
/*对话确认框*/
.dialog {
	text-align: center;position: fixed;z-index: 100;display: none;
}
.dialog.show {
	display: block;-webkit-perspective: 900px;perspective: 900px;
}
.dialog.hide {
	-webkit-animation: a-dialog-mask-out .2s ease both;
	animation: a-dialog-mask-out .2s ease both;
}
.dialog, .dialog .mask {
	width: 100%;height: 100%;left: 0;top: 0;
}
.dialog .mask {
	position: absolute;background: rgba(0, 0, 0, .7);
}
.dialog .dialog_inner {
	width: 75%;max-width: 280px;padding: 10px 0 0;
	position: absolute;top: 50%;left: 50%;
	border-radius: 10px;background: #fff;box-sizing: border-box;
	-webkit-transform: translate3d(-50%, -50%, 0) rotateY(-90deg);
	transform: translate3d(-50%, -50%, 0) rotateY(-90deg);
}
.dialog.show .dialog_inner {
	-webkit-animation: a-dialog-in .4s ease .1s both;
	animation: a-dialog-in .4s ease .1s both;
}
.dialog.hide .dialog_inner {
	-webkit-animation: a-dialog-out .2s ease both;
	animation: a-dialog-out .2s ease both;
}
.tips-dialog .dialog_inner h2{
	font-size: 16px;line-height: 2.5;color: #333;padding: 0 10px;
}
.tips-dialog .dialog_inner p{
	font-size: 14px;line-height: 2;padding: 0 10px;
}
.tips-dialog .dialog_inner .btn-close{
	border-top: 1px solid #f1f1f1;text-align: center;font-size: 14px;line-height: 40px;margin-top: 10px;
}
.tips-dialog .dialog_inner .btn-close a{
	display: inline-block;width: 50%;
}
.tips-dialog .dialog_inner .btn-close a:first-child{
	border-right: 1px solid #f1f1f1;color: #333;
}
.tips-dialog .dialog_inner .btn-close a:last-child{
	color: #ff6811;
}
#d-addr{
	max-height: 5rem;overflow-y: auto;padding:10px 20px;
}
#d-addr li{
	margin-bottom: 10px;font-size: 14px;text-align: left;
}
#d-addr li .addr-a{
	width: 90%;word-break: break-all;display: block;line-height: 1.5;color: #666;
	-webkit-tap-highlight-color: transparent;
}
#d-addr li.on .gou{
	display: inline-block;width: 10%;height: 15px;max-width: 20px;min-width: 15px;
	background: url(../../images/h5/images/together/check.png) no-repeat;
	background-size: 15px;background-position: center;
}

/*动画*/
@-webkit-keyframes a-dialog-in {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-50%, -50%, 0) rotateY(-90deg);
		transform: translate3d(-50%, -50%, 0) rotateY(-90deg)
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(-50%, -50%, 0) rotateY(0);
		transform: translate3d(-50%, -50%, 0) rotateY(0)
	}
}
@keyframes a-dialog-in {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-50%, -50%, 0) rotateY(-90deg);
		transform: translate3d(-50%, -50%, 0) rotateY(-90deg)
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(-50%, -50%, 0) rotateY(0);
		transform: translate3d(-50%, -50%, 0) rotateY(0)
	}
}
@-webkit-keyframes a-dialog-out {
	0% {
		-webkit-transform: translate3d(-50%, -50%, 0) scale(1);
		transform: translate3d(-50%, -50%, 0) scale(1)
	}
	100% {
		-webkit-transform: translate3d(-50%, -50%, 0) scale(.8);
		transform: translate3d(-50%, -50%, 0) scale(.8)
	}
}
@keyframes a-dialog-out {
	0% {
		-webkit-transform: translate3d(-50%, -50%, 0) scale(1);
		transform: translate3d(-50%, -50%, 0) scale(1)
	}
	100% {
		-webkit-transform: translate3d(-50%, -50%, 0) scale(.8);
		transform: translate3d(-50%, -50%, 0) scale(.8)
	}
}
@-webkit-keyframes a-dialog-mask-out {
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@keyframes a-dialog-mask-out {
	0% {opacity: 1;}
	100% {opacity: 0;}
}