.ask-hd{height:50px;line-height:50px;font-size:20px;color:#fff;background:#199a56;}
.ask-hd i.line{display:inline-block;width:0;line-height:0;height:18px;margin:-2px 10px 0;border-right:1px solid #fff;vertical-align:middle;}
.ask-bd .ask-bdL{}