.uCEN-R .help_list{
    float:left;
    width:758px;
}

.help_list .list_hd{
    float:left;
    width:100%;
    font-size:18px;

}

.help_list .list_hd .title{
    position: absolute;
}

.help_list .list_hd .help_btn{
    float:right;
    width:90px;
    height:30px;
    line-height:30px;
    font-size:12px;
    font-weight:normal;
    color:#444444;
    text-align:center;
    background:url(../../images/btn-bg2.jpg) repeat-x top left;
    border:1px solid #dadada;
}

.help_list .list_bd{
    float:left;
    width:100%;
    border-bottom:1px solid #199a56
}

.help_list .list_bd a{
    color:#199a56;
}

.help_list .list_bd dt{
    float:left;
    height:30px;
    line-height:30px;
    font-size:14px;
    color:#444444;
    text-align:center;
    border-top:1px solid #199a56;
    border-bottom:1px solid #199a56;
}

.help_list .list_bd ul{
    float:left;
    width:100%;
}

.help_list .list_bd li{
    float:left;
}

.help_list .list_bd dd{
    float:left;

    padding:10px 0px;
    line-height:20px;
    font-size:13px;
    color:#444444;
    text-align:center;
}

.help_list .list_bd .col1{
    width:190px;
    padding:0px 10px;
    text-align:left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.help_list .list_bd .col1 .time{width:100%;display:block}
.help_list .list_bd dt .col1{text-align:center}
.help_list .list_bd .col2{
    width:70px;
    padding:0px 10px;
    position:relative;
}
.help_list .list_bd .col2 .col2_ul{
    position: absolute;
    border: 1px solid #199a56;
    margin-top: 30px;
    background: #fff;
    z-index: 1;
    margin-left: -20px;
}
.help_list .list_bd .col2 .col2_ul a:hover li{
    background:#199a56;
    color:#fff;
}
.help_list .list_bd .col2 .col2_ul .col2_li{
    text-align: center;
    width: 100%;
    line-height: 25px;
    height: 25px;
    border-bottom: 1px solid #eee;
    color: #666;
}
.col2 .zt{float: left}
.col2 .ztIcon{
    display: block;
    background: url("../../images/icons/zt.png") no-repeat;
    width: 15px;
    height: 15px;
    float: right;
    margin-right: 21px;
    margin-top: 7px;
}
.help_list .list_bd .col3{
    width:80px;
    padding:0px 10px;
}

.help_list .list_bd .col4{
    width:135px;
    padding:0px 10px;
}

.help_list .list_bd .col5{
    width:98px;
    padding:0px 10px;
}

.help_list .list_bd .col6{
    width:155px;
    padding:0px 10px;
}

.help_list .list_bd dd.color_bg{
    background-color:#f5f7fa;
}

.help_list .list_bd dd .col6{
    text-align:center;
}

.help_list .list_bd .col6 a{
    display:inline-block;
    padding:0px 5px;
}

/**分页**/

.help_list .page{
    float:left;
    width:100%;
    height:25px;
    margin-top:15px;
    padding-top:15px;
    line-height:25px;
    text-align:center;
    border-top:1px solid #199a56;
}

.help_list .page a{
    display:inline-block;
    padding:4px 9px;
    margin:0px 2px;
    line-height:18px;
    font-size:12px;
    color:#222222;
    border-radius:2px;
    text-align:center;
    border:1px solid #dadada;
}

.help_list .page a.cur{
    color:#ffffff;
    background-color:#8cccaa;
}



/*****未发布任何求助信息****/
.help_list .noinfo{
    float:left;
    width:100%;
    height:80px;
    line-height:80px;
    text-align:center;
    font-size:20px;
    font-weight:bold;
    color:#000000;
}

.help_list .noinfo a{
    display:inline-block;
    margin-left:20px;
    font-size:20px;
    color:#0a8e4d;
}

/*****弹窗样式*****/

.black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}

.popBox{
    width:609px;
    height:397px;
    font-family:"微软雅黑";
    background:url(../../images/detail/pop_bg.png) no-repeat;

    position: absolute;

    /*
    display:none;
    position: relative;
    position: absolute;
    */
    z-index:1002;
    overflow: hiden
}

.popBox .box_hd{
    float:left;
    width:600px;
    height:40px;
    line-height:40px;
}

.popBox .box_hd .title{
    float:left;
    padding-left:10px;
    font-size:16px;
    color:#ffffff;
}

.popBox .box_hd .closeBtn{
    float:right;
    width:22px;
    height:22px;
    margin-top:8px;
    cursor:pointer;
}

.popBox .box_bd{
    float:left;
    padding:20px;
}

/***未审核通过原因***/
.popBox .box_bd .tip{
    float:left;
    width:360px;
    height:60px;
    line-height:60px;
    margin:0px 75px;
    padding-left:60px;
    font-size:16px;
    color:#444444;
    background:url(../../images/icons/prompt-icon.jpg) no-repeat;
}

.popBox .box_bd textarea{
    width:530px;
    height:150px;
    margin:10px 15px;
    padding:5px;
    color;#333333;
    border:1px solid #dadada;
}

.popBox .box_bd .time{
    float:left;
    width:540px;
    padding:0px 10px;
    text-align:right;
    font-size:12px;
}

.popBox .box_bd a.close{
    display: inline-block;
    padding: 0 30px;
    height: 37px;
    margin-left: 10px;
    line-height: 37px;
    font-size: 12px;
    color: #ffffff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background-color: #199a56;
    border: 1px solid #199a56;
    box-shadow: 1px 1px 1px rgba(255,255,255,.75) inset;
    -webkit-box-shadow: 1px 1px 1px rgba(255,255,255,.75) inset;
    -moz-box-shadow: 1px 1px 1px rgba(255,255,255,.75) inset;
}

/***近况反馈***/
#pop2{
    width:618px;
    height:469px;
    font-family:"微软雅黑";
    background:url(../../images/popbg.png) no-repeat;

    position: absolute;

    /*
    display:none;
    position: relative;
    position: absolute;
    */
    z-index:1002;
    overflow: hiden
}

#pop2 .box_bd .tip{
    float:left;
    width:360px;
    height:60px;
    line-height:60px;
    margin:0px 75px;
    padding-left:60px;
    font-size:16px;
    color:#444444;
    background:url(../../images/icons/prompt-icon.jpg) no-repeat;
}

#pop2 .box_bd textarea{
    width:520px;
    height:150px;
    margin:10px 5px;
    padding:5px;
    color;#333333;
    border:1px solid #dadada;
}

#pop2 .box_bd label{
    float:left;
    width:40px;
    height:30px;
    line-height:30px;
    font-size:12px;
}

#pop2 .box_bd .pic{
    float:left;
}

#pop2 .box_bd .pic .list{
    float:left;
    width:530px;
}

#pop2 .box_bd .pic .list .img{
    float:left;
    width:88px;
    height:76px;
    margin-right:15px;
    margin-bottom:10px;
    background-color:#ebebeb;
    border:1px solid #dadada;
}


#pop2 .box_bd .pic .list .add{
    float:left;
    width:88px;
    height:76px;
    line-height:70px;
    font-size:36px;
    color:#333333;
    text-align:center;
    margin-right:15px;
    margin-bottom:10px;
    background-color:#ffffff;
    border:1px solid #dadada;
}

#pop2 .box_bd .tip_upload{
    float:left;
    width:100%;
    height:30px;
    line-height:30px;
    font-size:14px;
    color:#444444;
    text-align:center;
}
.form {
    width: 327px;
    height: 33px;
    position: absolute;
    margin-left: 332px;
}
/*下拉菜单*/
.claimFr{}
.fqr{
    width: 70px;
    padding: 5px 10px;
    position: relative;
    font-size: 13px;
    float: left;
    margin-right: 10px;
    border: 1px solid #199a56;
}
.fqr li {
    float: left;
}
.fqr .zt {
    float: left;
}
.fqr .ztIcon {
    display: block;
    background: url("../../images/icons/zt.png") no-repeat;
    width: 15px;
    float: right;
    margin-right: -6px;
    height: 15px;
}
.fqr .fqr_ul {
    position: absolute;
    border: 1px solid #199a56;
    margin-top: 22px;
    background: #fff;
    z-index: 1;
    margin-left: -11px;
}
.fqr ul {
    float: left;
    width: 100%;
}
.fqr a {
    color: #199a56;
}
.fqr .fqr_ul .col2_li {
    text-align: center;
    width: 100%;
    line-height: 25px;
    height: 25px;
    border-bottom: 1px solid #eee;
    color: #666;
}
.fqr .fqr_ul a:hover li{
    background:#199a56;
    color:#fff;
}
/*弹窗*/
.cp2yLock {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../../images/dialog/ground-white.png);
    filter: Alpha(opacity=30);
    _background: none;
    display: none;
}
.AlertDlg {
    width: auto;
    min-width: 340px;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: normal;
    text-align: center;
    left: 35% !important;
}
.cp2yDialogBox {
    width: 610px;
    position: absolute;
    z-index: 999;
    display: none;
    left: 45% !important;
}
.AlertDlg .dialogTitle {
    width: 340px;
}
.dialogTitle {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: url(../../images/dialog/main.png) repeat-x 0 0;
    position: relative;
    cursor: move;
    text-align: left;
}
.dialogTitle i.l {
    left: 0;
    background: url(../../images/dialog/main.png) no-repeat 0 -48px;
}
.dialogTitle i {
    position: absolute;
    top: 0;
    display: inline-block;
    width: 7px;
    height: 40px;
    font-style: normal;
}
.dialogTitle span {
    color: #fff;
    padding-left: 10px;
    font: normal 16px/40px "微软雅黑";
}
.dialogTitle a {
    width: 22px;
    height: 22px;
    position: absolute;
    right: 10px;
    top: 9px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    background: url(../../images/dialog/main.png) no-repeat 0 -90px;
    cursor: pointer;
}
.dialogTitle i.r {
    right: 0;
    background: url(../../images/dialog/main.png) no-repeat -36px -48px;
}
.dialogTitle i {
    position: absolute;
    top: 0;
    display: inline-block;
    width: 7px;
    height: 40px;
}
.AlertDlg .dialogContent {
    width: 300px;
}
.dialogContent {
    background: #fff;
    padding: 20px;
    line-height: 20px;
    text-align: left;
    overflow: hidden;
}
.AlertDlg .alertCon {
    text-align: center;
}
.AlertDlg .alertCon span {
    display: inline-block;
    padding: 30px 0 30px 0px;
    background-repeat: no-repeat;
    background-position: 0 center;
    color: #666;
    text-align: left;
}
.AlertDlg .dialogContent .Btns {
    width: 300px;
    font-family: "\5FAE\8F6F\96C5\9ED1"!important;
}
.dialogContent .Btns {
    height: 50px;
    padding-top: 10px;
    text-align: center;
}
.dialogContent .Btns a {
    font-size: 15px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: url(../../images/dialog/btn-bg.jpg) no-repeat 0 0;
    display: inline-block;
    cursor: pointer;
    margin: 0 10px;
}

.dialogContent p{
    line-height: 32px;
}










































