<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=0, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no" />
		<meta name="keywords" content="善园网，扶贫济困，公益援助，求助，募捐，医疗救助，教育救助，贫困救助，灾害救助，公益众筹，特殊群体" />
		<meta name="description" content="善园网，依托善园公益基金会开展网络募捐服务，通过互联网实施扶贫济困、慈善救助、公益援助等领域的救助行动；善园网承诺善款100%公开，100%用于受助人" />
		<title>完善资料</title>
		<link rel="stylesheet" type="text/css" href="/res/css/h5/releaseProject2/raiseProjEdit.css"/>
	</head>
	<body>
		<div id="pageContainer" v-cloak>
			<div class="rpe flex fcen">
				<div class="pd-hd">
					<p>以下内容不对外公开，仅用于审核</p>
				</div>
				<div class="pd-bd">
					<div class="rpe-write">
						<p class="tip">受助人信息
							<a :href="perfectData.aidedUrl" class="right">
								<span  :class="{green:perfectData.aidedState}">{{perfectData.aidedState?'已填写':'未填写'}}</span>
							</a>
						</p>
						<div class="rw-con">
							<input type="text" readonly="readonly" value="姓名、身份证照片、手持身份证照片" />
						</div>
					</div>
					<div class="rpe-write" v-if="!exp">
						<p class="tip">诊断证明
							<a :href="perfectData.sickUrl" class="right">
								<span  :class="{green:perfectData.sickState}">{{perfectData.sickState?'已填写':'未填写'}}</span>
							</a>
						</p>
						<div class="rw-con">
							<input type="text" readonly="readonly" value="诊断说明书、住院缴费单、病历卡、疾病名称" />
						</div>
					</div>
					<div class="rpe-write">
						<p class="tip">其他证明
							<a :href="perfectData.otherUrl" class="right">
								<span :class="{green:perfectData.otherState}">{{perfectData.otherState?'已填写':'未填写'}}</span>
							</a>
						</p>
						<div class="rw-con">
							<input type="text" readonly="readonly" value="经济能力、家属知情同意书" />
						</div>
					</div>
					<div class="rpe-write">
						<p class="tip">收款人信息
							<a :href="perfectData.payeeUrl" class="right">
								<span  :class="{green:perfectData.payeeState}">{{perfectData.payeeState?'已填写':'未填写'}}</span>
							</a>
						</p>
						<div class="rw-con">
							<input type="text" readonly="readonly" v-model="hospitalName" />
						</div>
					</div>	
				</div>
				
				<div class="rpe-btn btn">
					<a href="/uCenterProject/uCenterProjectList.do?state=210&currentPage=1">返回用户中心</a>
				</div>
			</div>
		</div>
		<input type="hidden" name="perfectDataPg" id="perfectDataPg" value="" />
		<script src="/res/js/jquery-1.8.2.min.js"></script>
		<script src="/res/js/h5/donateStep/vue.min.js"></script>
		<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<script src="/res/js/h5/releaseProject2/wxlogin.js"></script>
		<script src="/res/js/h5/releaseProject2/raiseProjEdit.js"></script>
	</body>
</html>
