.detail_head2 {
	width: 100%;
	height: 45px;
	background: #ff6811;
	color: #fff;
	position: relative;
	text-align: center;
	line-height: 45px;
	font-size: 15px;
}
.detail_head2 .back {
	position: absolute;
	left: 15px;
	top: 0;
	display: block;
	line-height: 45px;
	-webkit-tap-highlight-color: transparent;
	font-size: 14px;
}
.detail_head2 .back:before {
	content: '';
	display: inline-block;
	width: 7px;
	height: 7px;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.person_text {
	background: #fff;
	padding: 3%;
	line-height: 23px;
	color: #999;
}
.person_text1 {
	padding: 5px;
	color: #666;
	font-size: 15px;
}
.person_sel {
	width: 100%;
	height: 40px;
	padding: 0 3%;
	font-size: 14px;
	color: #666;
	border: none;
	box-sizing: border-box;
}
.yyz {
	width: 18px;
	height: 23px;
	background: url("../../images/h5/images/detail/detIcn.png") no-repeat;
	display: block;
	float: left;
	background-position: 1px -134px;
	background-size: 20px;
	margin-top: 10px;
	position: absolute;
	margin-left: 89%;
	border-bottom: 1px solid #eee;
}
.phoneTest {
	margin-top: 5px;
}
.person_input {
	width: 100%;
	line-height: 40px;
	outline: none;
	border: none;
	margin-top: 1px;
	padding: 0 3%;
	box-sizing: border-box;
}
.test_yzm {
	background: #fff;
	margin-top: 1px;
}
.test_yzm .person_input1 {
	width: 60%;
	height: 40px;
	line-height: 40px;
	outline: none;
	border: none;
	padding-left: 3%;
}
.test_yzm .fsyz {
	width: 36%;
	height: 40px;
	padding: 10px;
	color: #fff;
	font-size: 13px;
	line-height: 1.5;
	display: -webkit-flex;
	display: flex;
	float: right;
	text-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	background: #01C67E;
	box-sizing: border-box;
}
.test_yzm .fsyz.disabled {
	background: #ccc;
}
.footer_text {
	padding: 3%;
	background: #fff;
	margin-top: 1px;
	color: #999;
	line-height: 23px;
}
.footer_btn {
	display: block;
	width: 60%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin: auto;
	background: #ff6811;
	margin-top: 30px;
	color: #fff;
	font-size: 15px;
	border-radius: 5px;
}
.footer_btn.disabled{
	background: #ccc;
}

/*弹出框*/

.dialog {
	position: fixed;
	z-index: 100;
	display: none;
}
.dialog.show {
	display: block;
	-webkit-perspective: 900px;
	perspective: 900px;
}
.dialog.hide {
	-webkit-animation: a-dialog-mask-out .2s ease both;
	animation: a-dialog-mask-out .2s ease both;
}
.dialog, .dialog .mask {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.dialog .mask {
	position: absolute;
	background: rgba(0, 0, 0, .7);
}
.dialog .dialog_inner {
	padding: 15px 15px 0;
	background: #fff;
	min-width: 290px;
	width: 75%;
	min-width: 290px;
	max-width: 350px;
	height: 150px;
	box-sizing: border-box;
	border-radius: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0) rotateY(-90deg);
	transform: translate3d(-50%, -50%, 0) rotateY(-90deg);
}
.dialog.show .dialog_inner {
	-webkit-animation: a-dialog-in .4s ease .1s both;
	animation: a-dialog-in .4s ease .1s both;
}
.dialog.hide .dialog_inner {
	-webkit-animation: a-dialog-out .2s ease both;
	animation: a-dialog-out .2s ease both;
}
.dialog .dialog_inner h3 {
	font-size: 15px;
	color: #333;
	font-weight: normal;
}
.dialog .dialog_inner .yzm-pic {
	margin: 10px 0;
}
.dialog .dialog_inner .yzm-pic img {
	width: 100px;
	height: 40px;
	vertical-align: top;
}
.dialog .dialog_inner .yzm-pic a {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 12px 15px;
	cursor: pointer;
	background: url(../../../images/login/login.jpg) -83px -2px no-repeat;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
}
.dialog .dialog_inner .yzm-pic input {
	width: 60px;
	height: 18px;
	line-height: 18px;
	padding: 10px;
	margin-left: 20px;
	border: 1px solid #cecece;
	vertical-align: top;
}
.dialog .dialog_inner .close {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	line-height: 40px;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.dialog .dialog_inner .close .close-a {
	width: 50%;
	text-align: center;
	font-size: 15px;
	line-height: 40px;
	box-sizing: border-box;
}
.dialog .dialog_inner .close .left {
	color: #999;
	border-top: 1px solid #eee;
}
.dialog .dialog_inner .close .right {
	color: #fff;
	background: #01C67E;
	border-top: 1px solid #01C67E;
}

/*动画*/

@-webkit-keyframes a-dialog-in {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-50%, -50%, 0) rotateY(-90deg);
		transform: translate3d(-50%, -50%, 0) rotateY(-90deg)
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(-50%, -50%, 0) rotateY(0);
		transform: translate3d(-50%, -50%, 0) rotateY(0)
	}
}
@keyframes a-dialog-in {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-50%, -50%, 0) rotateY(-90deg);
		transform: translate3d(-50%, -50%, 0) rotateY(-90deg)
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(-50%, -50%, 0) rotateY(0);
		transform: translate3d(-50%, -50%, 0) rotateY(0)
	}
}
@-webkit-keyframes a-dialog-out {
	0% {
		-webkit-transform: translate3d(-50%, -50%, 0) scale(1);
		transform: translate3d(-50%, -50%, 0) scale(1)
	}
	100% {
		-webkit-transform: translate3d(-50%, -50%, 0) scale(.8);
		transform: translate3d(-50%, -50%, 0) scale(.8)
	}
}
@keyframes a-dialog-out {
	0% {
		-webkit-transform: translate3d(-50%, -50%, 0) scale(1);
		transform: translate3d(-50%, -50%, 0) scale(1)
	}
	100% {
		-webkit-transform: translate3d(-50%, -50%, 0) scale(.8);
		transform: translate3d(-50%, -50%, 0) scale(.8)
	}
}
@-webkit-keyframes a-dialog-mask-out {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}
@keyframes a-dialog-mask-out {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}