@charset "utf-8";
/* CSS Document */
body,form,h1,h2,h3,h4,h5,h6,hr,input,li,p,ul,pre {margin:0 auto;padding:0;list-style:none;vertical-align:middle;color:#000;}
body {font-size:13px; font-family:"微软雅黑", "宋体", "楷体", "仿宋",Tahoma, Geneva, sans-serif;}
a {text-decoration:none;outline:0;cursor:pointer;}
div, dl, dt, dd, li, td, input, select, textarea, form,table { margin: 0; padding: 0; font-weight: normal;}
li,ol,ul {list-style:none;}
a,p,span,pre {-webkit-user-select:auto;-webkit-touch-callout:none;color:inherit;}
img {border:none;display:inline-block;vertical-align:middle;background-size:cover;}
button,input,optgroup,select,textarea{font:inherit;margin:0; outline: 0;}
button,select{text-transform:none}
select{-webkit-appearance: none; border:none;}
input{line-height:normal; }
input[type="button"], input[type="submit"], input[type="reset"] ,select{-webkit-appearance: none;}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto;}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}
label,input{vertical-align: middle;}
.clear {clear:both;}
.hidden{ display:none;}
.fl {float:left;}
.fr {float:right;}
.flex{
	display: -webkit-flex;display: flex;
}
.spb{
	-webkit-justify-content: space-between;justify-content: space-between;
}
.fcen{
	-webkit-align-items: center;align-items: center;
}
.header {
  width: 100%;height: 45px;background: #ff6811;color: #fff;position: relative;text-align: center;line-height: 45px;font-size: 15px;
}
.header .back{
	position: absolute;left: 15px;top: 0;display: block;line-height: 45px;-webkit-tap-highlight-color: transparent;font-size: 14px;
}
.header .back:before{
	content: '';display: inline-block;width: 7px;height: 7px;border-left: 2px solid #fff;border-bottom: 2px solid #fff;
	-webkit-transform: rotate(45deg);transform: rotate(45deg);
}
.lis_one{
	width: 100%;height: 50px;line-height: 50px;border-bottom:1px solid #e0e0e0;
}
.lis_one .lis_text{
    width: 30%;float: left;margin-left: 5%;color: #666;
}
.lis_one .lis_sp{
    width: 41px;height: 26px;display: block;float: right;
    background: url("../../../images/h5/images/labelImage/next_res.png") no-repeat;
    background-size: 28px;margin-top: 8px;
}

/**********为个人发起列表************/
.lis_two{
	width: 100%;border-bottom:1px solid rgba(0,0,0,0.1);
}
.lis_two .lis_fl{
    -webkit-flex-grow: 1;flex-grow: 1;margin-left: 5%;max-width: 80%;padding-bottom: 5px;
}
.lis_two .lis_fl .lis_text{
	height: 30px;line-height: 32px;font-size: 16px;color: #333;
}
.lis_two .lis_fl .lis_text1{
	line-height: 1.5;color: #999; font-size: 12px;width: 100%;word-break: break-all;
}
.lis_two .lis_sp{
    width: 34px;height: 26px;display: block;
    background: url("../../../images/h5/images/labelImage/next_res.png") no-repeat;
    background-size: 28px;
}

/*****发布成功页**********/
.successImg{
    text-align: center;height: 135px;margin-top: 60px;
}
.successImg img{
    width: 100px;height: 100px;
}
h4{
    width: 100%;height: 30px;line-height: 30px;text-align: center;
    font-size: 16px;color: #666;
}
.successText{
    width: 90%;text-align: center;padding: 3%;color: #999;
}
.successBtn{
    width: 80%;height: 40px;text-align: center;margin: auto;line-height: 40px;
    background: #ff6811;border-radius: 5px;color: #fff;margin-top: 20px;font-size: 15px;
}
.successBtn1{
    width: 80%;height: 40px;text-align: center;margin: auto;line-height: 40px;font-size: 15px;
    background: #fff;border:1px solid #ff6811;border-radius: 5px;color: #ff6810;margin-top: 20px;
}
/*****审核流程*******/
.reSuccess{
	width: 70%;position: relative;border-left: 1px solid #999;margin-left: 28%;margin-top: 30px;
}
.reSuccess .reLi{
    height: 35px;
}
.reSuccess .reLi .reLip{
    margin-left: 5%;color: #999;height: 20px;line-height: 20px;
}
.reSuccess .reLi .xh{
    float: left;height: 20px;width: 20px;border-radius: 15px;background: #fff;
    border: 1px solid #999;text-align: center;line-height: 20px;
    position: absolute;margin-left: -4.5%;color: #999;
}





